[kube:children]
masters
slaves

[kube:vars]
ssh_key=

[masters]
master ansible_host= ansible_user= ansible_become=

[slaves]
slave-01 ansible_host= ansible_user= ansible_become=
slave-02 ansible_host= ansible_user= ansible_become=